<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Community</h1>
    <ul>
      <% for (var i = 0; i < posts.length; i++) { %>
      <li>
        <a href=<%= '/community/'+posts[i].postId %>><%= posts[i].title %></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
