<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Community</h1>
    <ul>
      <li>
        <p>글1</p>
        <p>글2</p>
      </li>
    </ul>
  </body>
</html>
