<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>View Community Post</h1>
    <p>
      <a href="/community">go to community</a>
    </p>
    <p>
      <a href="/logout">logout</a>
    </p>
    <p>
      쪽지보내기
    </p>

    <p>
      제목 : <%= post.title %>
    </p>
    <p>
      내용 : <%= post.content %>
    </p>
    <a href="/community">뒤로가기</a>
</html>
