<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>mypage</h1>
    <p>
      <a href="/posting">new post</a>
    </p>
    <p>
      <a href="/community">go to community</a>
    </p>
    <p>
      <a href="/logout">logout</a>
    </p>
</html>
