<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>View Post</h1>
    <p>
      <a href="/community">go to community</a>
    </p>
    <p>
      <a href="/logout">logout</a>
    </p>

    <p>
      제목 : <%= post.title %>
    </p>
    <p>
      내용 : <%= post.content %>
    </p>

    <li>
      <a href=<%= "/post/"+post.postId+"/edit" %>>edit</a>
    </li>
    <li>
      <a href=<%= "/post/"+post.postId+"/delete" %>>delete</a>
    </li>
    <a href="/welcome">뒤로가기</a>
</html>
